<div class="text-center" >

  <h1 class="text-center" mat-dialog-title>Quem é esse personagem?</h1>

  <div mat-dialog-content class="button-row" >

    <form class="app-form">

      <img mat-card-image src="{{createPersonImageUri(data.person.name)}}" alt={{data.person.name}}>

      <mat-form-field>
        <input matInput name="answer" [(ngModel)]="data.answer" placeholder="Nome do personagem">
      </mat-form-field>

    </form>

  </div>

  <div mat-dialog-actions class="button-row">
    <button mat-raised-button color="primary" (click)="onNoClick()">Cancelar Respota</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data.answer" cdkFocusInitial>Responder</button>
  </div>

</div>
