<div class="text-center" >

  <h1 class="text-center" mat-dialog-title>Detalhes</h1>

  <div mat-dialog-content class="button-row" >

    <form class="app-form">

      <img class="img-details" mat-card-image src="{{createPersonImageUri(data.person.name)}}" alt={{data.person.name}}>

      <mat-list>

        <mat-list-item>
          <strong>Espécie: </strong>
        </mat-list-item>

        <ul *ngFor="let specie of species">
          <li> {{ specie.name }} </li>
        </ul>

        <mat-divider></mat-divider>

        <mat-list-item>
          <strong>Altura: </strong> {{ data.person.height + ' cm' }}
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <strong>Cabelo: </strong> {{ data.person.hair_color }}
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <strong>Filmes: </strong>
        </mat-list-item>

        <ul *ngFor="let film of films">
          <li> {{ film.title }} </li>
        </ul>

        <mat-divider></mat-divider>

        <mat-list-item>
          <strong>Veículos: </strong>
        </mat-list-item>

        <ul *ngFor="let vehicle of vehicles" >
          <li> {{ vehicle.name }} </li>
        </ul>

        <mat-divider></mat-divider>

      </mat-list>

    </form>

  </div>

  <div mat-dialog-actions class="button-row">
    <button mat-raised-button color="primary" (click)="onOkClick()">Fechar</button>
  </div>

</div>
