<div class="text-center" >

  <h1 class="text-center" mat-dialog-title>Quiz Finalizado!</h1>

  <div mat-dialog-content class="button-row">

    <form class="app-form">

      <h1 class="text-center">{{data.points + ' Pontos'}} </h1>

      <h2 class="text-center">Preencha o formulário abaixo para salvar sua pontuação</h2>


      <mat-form-field class="app-full-width">
        <input matInput name="name" [(ngModel)]="data.name" placeholder="Nome"
               [formControl]="nameFormControl"[formControl]="nameFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="nameFormControl.hasError('required')">
          Nome é obrigatório!
        </mat-error>
      </mat-form-field>

      <mat-form-field class="app-full-width">
        <input matInput name="email" [(ngModel)]="data.email" placeholder="Email"
               [formControl]="emailFormControl"[formControl]="emailFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Email inválido!
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email é obrigatório!
        </mat-error>
      </mat-form-field>

      <button
        [disabled]="nameFormControl.hasError('required')
        || emailFormControl.hasError('required')
        || emailFormControl.hasError('email')"
        mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Salvar</button>

    </form>


  </div>

</div>
