<div #widgetParentDiv>

  <mat-card class="quiz-card">

    <mat-card-content>

      <div class="button-row">
        <img src="/assets/images/characters/Darth-Vader.jpg" alt="Darth Vader" height="200" width="200">
      </div>

      <div class="button-row">
        <h1 class="text-center">Quiz!</h1>
        <h1 class="text-time">Tempo Restante: {{ seconds > 0 ? seconds : 0 }}</h1>
      </div>

      <mat-grid-list cols={{cols}}>

        <mat-grid-tile *ngFor="let person of persons; let position = index">
          <mat-card class="app-card">
            <img mat-card-image src="{{createPersonImageUri(person.name)}}" alt={{person.name}}>
            <mat-card-actions>
              <button [disabled]="this.answers[position] && this.answers[position].answered"
                      (click)="openAnswerDialog(person, position)" mat-raised-button color="primary">
                ?
              </button>
              <button [disabled]="this.answers[position] && this.answers[position].answered"
                      (click)="openDetailsDialog(person, position)" mat-raised-button color="primary">
                ...
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>

      </mat-grid-list>

      <div class="button-row">

        <button
          [disabled]="
        !(
          (this.answers[0] && this.answers[0].answered)
          && (this.answers[1] && this.answers[1].answered)
          && (this.answers[2] && this.answers[2].answered)
          && (this.answers[3] && this.answers[3].answered)
          && (this.answers[4] && this.answers[4].answered)
          && (this.answers[5] && this.answers[5].answered)
          && (this.answers[6] && this.answers[6].answered)
          && (this.answers[7] && this.answers[7].answered)
          && (this.answers[8] && this.answers[8].answered)
          && (this.answers[9] && this.answers[9].answered)
        )"
          *ngIf="page < maxPage" class="page-button" (click)="next()" mat-raised-button color="primary">Continuar >></button>

        <button
          [disabled]="
        !(
          (this.answers[0] && this.answers[0].answered)
          && (this.answers[1] && this.answers[1].answered)
          && (this.answers[2] && this.answers[2].answered)
          && (this.answers[3] && this.answers[3].answered)
          && (this.answers[4] && this.answers[4].answered)
          && (this.answers[5] && this.answers[5].answered)
          && (this.answers[6] && this.answers[6].answered)
        )"
          *ngIf="page >= maxPage" class="page-button" (click)="finish()" mat-raised-button color="primary">Finalizar</button>

      </div>

    </mat-card-content>

  </mat-card>

</div>
