h1{
  font-size: 25px;
}
@media (max-width: 400px) {
  h1{
    font-size: 20px;
  }
}

.quiz-card {
  margin: 80px;
}
@media (max-width: 800px) {
  .quiz-card {
    margin: 10px;
  }
}

.app-card {
}

button{
 margin: 10px;
},

.button-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  margin: 10px;
  text-align: center
}

.text-time {
  color: #fa2624;
  text-align: center
}

.page-button {
  margin: 8px;
}

.load {
  height: 100px;
}

app-form {
  width: 100%;
}

strong {
  margin: 10px;
}

.img-details {
  width: 200px;
  height: 200px;
}

form {
  width: 100%;
}

li {
  text-align: left;
  font-size: 18px;
}

.app-full-width {
  width: 100%;
}
