h1{
  font-size: 50px;
}
@media (max-width: 500px) {
  h1{
    font-size: 30px;
  }
}

button{
  margin: 8px;
  font-size: 16px;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text-center {
  margin: 10px;
  text-align: center
}
