
<h1 class="text-center">Start Quiz!</h1>

<div class="button-row">
  <img src="/assets/images/characters/Darth-Vader.jpg" alt="Darth Vader" height="200" width="200">
</div>

<div class="button-row">
  <button (click)="start()" mat-raised-button color="primary">JOGAR!</button>
</div>

<div class="button-row">
  <button (click)="ranking()" mat-raised-button color="primary">Visualizar Ranking!</button>
</div>
