<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span>{{title}}</span>
    <!--<span class="example-spacer"></span>-->
    <!--<mat-icon class="app-icon">favorite</mat-icon>-->
    <!--<mat-icon class="app-icon">delete</mat-icon>-->
  </mat-toolbar-row>

</mat-toolbar>

<router-outlet></router-outlet>
