<div>

  <h1 class="text-center">Ranking</h1>

  <mat-card class="ranking-card">

    <mat-card-content>

      <mat-list>

        <div *ngFor="let player of ranking">
          <mat-list-item>Nome:<strong> {{player.name}}</strong></mat-list-item>
          <mat-list-item>Email: <strong> {{player.email}}</strong></mat-list-item>
          <mat-list-item>Data: <strong> {{formatData(player.data)}}</strong></mat-list-item>
          <mat-list-item>Pontuação: <strong> {{player.points}}</strong></mat-list-item>
          <mat-divider></mat-divider>
        </div>

      </mat-list>

    </mat-card-content>

  </mat-card>

</div>
